html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  background-image: url("./assets/bg-meat-1_9da4_13.png"),
    url("./assets/bg-plate-1_4f9f_14.png"),
    url("./assets/background_e309_15.jpg");
  background-position: 107% 20%, -80px -60px, 50% 0%;
  background-size: 280px, 350px, cover;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-attachment: scroll, scroll, scroll;
}

.steps_wrapper {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
}

.section_content {
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.header-main {
  color: #000675;
}

.divider-footer {
  height: 100px;
  margin-right: auto;
  margin-bottom: -5px;
  margin-left: auto;
  background-image: url("./assets/footer-edge_b3e5_16.png");
  background-position: 0% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.quiz-sex-header {
  color: #1a2f5b;
  font-size: 54px;
  font-weight: 100;
  line-height: 1.2;
}

.quiz-box-wrapper {
  margin-top: 20px;
}

.quiz-box-inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quiz-column {
  width: 50%;
}

.measurment-wrapper {
  width: 550px;
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 991px) {
  body {
    background-position: 107% -10%, -40px -60px, 50% 0%;
    background-size: 200px, 200px, cover;
  }

  .main-box-wrapper {
    text-align: center;
  }
}

@media (max-width: 767px) {
  body {
    background-position: 110% -5%, -12% -17%, 50% 0%;
    background-size: 150px, 180px, cover;
  }

  .header-main-wrapper {
    width: 70%;
  }

  .header-main {
    font-size: 35px;
  }

  .main-box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 6px;
    margin-top: 0;
  }

  .measurment-wrapper {
    width: 90%;
  }
}

@media (max-width: 479px) {
  body {
    background-position: 110% -5%, -12% -15%, 50% 0%;
    background-size: 90px, 110px, cover;
  }

  .header-main-wrapper {
    width: 90%;
  }

  .header-main {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    line-height: 1;
  }

  .divider-footer {
    height: 80px;
  }

  .gender-box {
    flex-direction: column;
    align-items: center;
  }

  .quiz-sex-header {
    margin-bottom: 0;
  }
}
