body {
  font-family: Raleway, sans-serif;
  background-image: url("./assets/bg-meat-1_9da4_13.png"),
    url("./assets/bg-plate-1_4f9f_14.png"),
    url("./assets/background_e309_15.jpg");
  background-position: 107% 20%, -80px -60px, 50% 0%;
  background-size: 280px, 350px, cover;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-attachment: scroll, scroll, scroll;
}

img {
  max-width: 100%;
}

.section_content {
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.header-main {
  color: #000675;
}

.divider-footer {
  height: 100px;
  margin-right: auto;
  margin-bottom: -5px;
  margin-left: auto;
  background-position: 0% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.quiz-sex-header {
  color: #1a2f5b;
  font-size: 54px;
  font-weight: 100;
  line-height: 1.2;
}

.quiz-box-wrapper {
  margin-top: 20px;
}

.quiz-box-inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quiz-column {
  width: 50%;
}

.measurment-wrapper {
  width: 550px;
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fff;
}
